*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #0f172a;
  color: #fffbf5;
  font-family: "Lato", sans-serif;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1rem;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

svg {
  display: block;
  fill: currentColor;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container h1 {
  font-size: clamp(1.5rem, 8vw - 2rem, 3rem);
}
.container .form-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-top: 50px;
}

.form {
  width: 100%;
  max-width: 650px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.form__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 300px;
}
.form__group:nth-child(7) {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}
.form__group:nth-child(7) label {
  cursor: pointer;
}
.form__group label {
  font-size: 2rem;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.form__group input:not([type=checkbox]) {
  width: 100%;
  padding: 10px 12px;
  font-size: 1.5em;
  letter-spacing: 0.5px;
  outline: 2px solid #1e293b;
  border: none;
  border-radius: 5px;
  background: #1e293b;
  margin-bottom: 8px;
  transition: outline 0.3s;
}
.form__group input:not([type=checkbox])::placeholder {
  color: #64748b;
}
.form__group input:not([type=checkbox]):hover {
  outline: 2px solid #94add1;
}
.form__group input:not([type=checkbox]):focus {
  outline: 2px solid #94add1;
}
.form__group input[type=checkbox] {
  margin-right: 8px;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  background: #c6c6c6;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.form__group input[type=checkbox]::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fffbf5;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.form__group input[type=checkbox]:checked {
  background: #0ea5e9;
}
.form__group input[type=checkbox]:checked::before {
  left: 20px;
}
.form button[type=submit] {
  width: 300px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #0ea5e9;
  font-size: 1.5rem;
  cursor: pointer;
}

.error {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fffbf5;
  padding: 10px 15px;
  border-radius: 5px;
  background: #ec6a5f;
  font-weight: 400;
  font-size: 1.5rem;
}

.success-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.success {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fffbf5;
  border-radius: 5px;
  background: #2dd4bf;
  padding: 10px 15px;
  margin: auto auto;
  font-weight: 400;
  position: relative;
}
.success h1 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.success .icon {
  font-size: 1.7rem;
  margin-left: 8px;
}

/*# sourceMappingURL=style.css.map */
