@forward "global";
@use "./utils" as u;

.container {
  @include u.size(100%, 100vh);
  @include u.flex(column, center, center);
  padding: 0 20px;

  h1 {
    font-size: clamp(4rem, 8vw - 2rem, 3rem);
  }

  .form-container {
    @include u.size(100%);
    @include u.flex();
    max-width: 800px;
    margin-top: 50px;
  }
}

.form {
  @include u.size(100%);
  max-width: 650px;
  @include u.flex(row, center, center, wrap);
  gap: 15px;

  &__group {
    @include u.flex(column, flex-start, center);
    @include u.size(300px);

    &:nth-child(7) {
      @include u.flex(row-reverse, center, flex-end);

      label {
        cursor: pointer;
      }
    }

    label {
      font-size: 2rem;
      font-weight: 300;
      text-transform: capitalize;
      margin-bottom: 5px;
    }

    input:not([type="checkbox"]) {
      @include u.size(100%);
      padding: 10px 12px;
      font-size: 1.5em;
      letter-spacing: 0.5px;
      outline: 2px solid u.$input-bg;
      border: none;
      border-radius: 5px;
      background: u.$input-bg;
      margin-bottom: 8px;
      transition: outline 0.3s;

      &::placeholder {
        color: u.$placeholder;
      }

      &:hover {
        outline: 2px solid u.$outline;
      }

      &:focus {
        outline: 2px solid u.$outline;
      }
    }

    input[type="checkbox"] {
      margin-right: 8px;
      cursor: pointer;
      position: relative;
      @include u.size(40px, 20px);
      -webkit-appearance: none;
      background: u.$checkbox;
      border-radius: 20px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      transition: 0.5s;

      &::before {
        content: "";
        position: absolute;
        @include u.size(20px, 20px);
        border-radius: 20px;
        top: 0;
        left: 0;
        background: u.$text-color;
        transform: scale(1.1);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
      }

      &:checked {
        background: u.$dark-button;

        &::before {
          left: 20px;
        }
      }
    }
  }

  button[type="submit"] {
    @include u.size(300px);
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: u.$dark-button;
    font-size: 1.5rem;
    cursor: pointer;
    transition: opacity 0.3s;
  }
}

.error {
  @include u.size(300px);
  @include u.flex();
  color: u.$text-color;
  padding: 10px 15px;
  border-radius: 5px;
  background: u.$error;
  font-weight: 400;
  font-size: 1.5rem;
}

.success-container {
  @include u.size(100%, 100vh);
  @include u.flex();
}

.success {
  @include u.size(300px, 70px);
  @include u.flex();
  color: u.$text-color;
  border-radius: 5px;
  background: u.$successfully;
  padding: 10px 15px;
  margin: auto auto;
  font-weight: 400;
  position: relative;

  h1 {
    font-size: 1.8rem;
    text-transform: capitalize;
  }

  .icon {
    font-size: 1.8rem;
    margin-left: 8px;
  }
}
